
.aboutsection{
    display:flex;
    justify-content:space between;
    align-items:center;
    content-visibility: 2px solid lightgrey;
    margin:20px 40px;
    
   background-color: rgb(3, 5, 27);
    gap:100px;
    border-radius: 20px;
} 

.photo2>img{
   width:450px;
   border:10px solid black;
   border-radius: 20px;

}

.information{
    background: rgb(189, 189, 189);
    border-radius:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(38, 6, 199);
    font-size:25px;
    padding:20px 30px;
    box-shadow: 0  0 20px rgb(5, 242, 238);
}

.list{
    margin:0 20px;
}
