.number>img{
    width:30px;
}
.gmail>img{
    width: 30px;
}
.whatsapp>img{
    width: 65px;
}
contact{
    display: flex;
    max-width: 1600px;
    max-height:700px ;
    justify-content: center;
    margin-top: 30px;
    border: 3px white;
    border-radius: 3px;
    box-shadow: 0 10px 20px  blue ;
}
.leftbar{
    background-color: rgb(3, 5, 27) ;
    width: 1000px;
    height: 500px;
    padding-left: 40px;
}
.heading{
    color: white;
    font-size: 30px;
}
.line{
    color: rgb(232, 179, 115);
    margin-top: 20px;
    font-size: 20px;
}
.form{
    margin-top:40px ;
}
.size{
    color: white;
}
.length{
    color: white;
}
.rigthbar{
    background-color: beige;
}
.info{
    padding: 20px 20px;
    font-size: 1.5em;
}