body{
    background-color: rgb(3, 5, 27);
}
navbar{
    display:flex;
    justify-content:space-between ;
    align-items: center;
    content-visibility:2px;
    padding: 10px 10px;
    background-color: rgb(3, 5, 27);
    margin:20px 70px;
    border-radius:20px;
    
}
.navbar-logo>img{
      width: 70px;
      border-radius:100px;
}

.navbar-links{
    display:flex;
    gap:60px;
}

.navbar-links>a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(187, 239, 250);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:0 0 10px rgb(5, 242, 238);   
    
    
}
.navbar-links>a:hover
{

    color:rgb(199, 243, 40);
     display: inline-block;
   padding: 10px 30px;
   background:  rgb(196, 252, 76);
   border: 2px solid rgb(143, 199, 211);
   border-radius: 40px;
   font-size: 25px;
   box-shadow: 0 0 10px  rgb(248, 223, 6);
   color:rgb(6, 30, 246);
   font-weight: 700;
    transition: all 0.5s;
}




