body{
    background-color: rgb(133, 131, 131);
}
.box1>img{
  width: 50px;
  


}
.box2>img{
  width: 50px;
}
.box3>img{
  width: 50px;
}
.box4>img{
  width: 50px;
}
.box{
    border-radius:20px;
    font-size: 20px ;
    color: rgb(238, 24, 5);
    padding:5px 100px;
    background-color:violet ;
    margin-bottom:20px ;
}
.box1{
    border: 2px solid white;
    max-width: 400px;

}
.box2{
    border: 2px solid white;
    
}
.box3{
    border: 2px solid white;
    
}
.box4{
    border: 2px solid white;
    
}